*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;


    #toggle{
        position: relative;
        display: flex;
        width: 490px;
        height: 240px;
        border-radius: 120px;
        background: rgba(23, 26, 28, 0.2);
        box-shadow: -2px -4px 9px rgba(255, 255, 255, 0.3), -15px -14px 100px rgba(0, 0, 0, 0.2), 2px 4px 9px 1px rgba(255, 255, 255, 0.7), 23.5941px 42.5648px 97.3333px rgba(10, 10, 11, 0.2), inset -5.8723px -10.5939px 12.1126px rgba(44, 45, 47, 0.1), inset 5.8723px 10.5939px 12.1126px rgba(55, 57, 59, 0.2);

        #text{
            position: absolute;
            display: flex;
            width: 165px;
            height: 126px;
            top: 50%;
            transform: translateY(-50%);
            align-items: center;
            cursor: context-menu;

            p{
                font-family: Arial;
                font-style: normal;
                font-weight: bold;
                font-size: 72px;
                line-height: 63px;
                text-align: justify;
                text-shadow: 1px 2px 3px rgba(255, 255, 255, 0.25), -3px -2px 10px rgba(0, 0, 0, 0.1);
            }
        }
        
        #text.player{
            left: 43px;
            #survive{
                background: radial-gradient(227.31% 271.51% at -25.15% -43.25%, #70D7D2 0%, #22B6AC 12.28%, #0BA299 41.6%, #255A55 64.37%, #005956 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            #kill{
                display: none;
            }
        }
        #text.agent{
            left: 282px;
            #kill{
                background: radial-gradient(264.91% 429.64% at -39.13% -58.43%, #FFA4AF 0%, #FF7A92 12.28%, #FF577F 41.6%, #E83761 64.37%, #D82B4A 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            #survive{
                display: none;
            }
        }
    }
}



@import "./switch"